.dashboard-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap
}

.rows-candidate-cards{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap
}
.candidate-small-card{
    flex:1;
    width: 7rem;
    height: 10rem;
    border: solid #90278E 4px;
    border-radius: 10%;
    padding:1rem;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.7rem;
  margin: 1rem;
  color: #90278E;
}
.candidate-small-card-img{
    width: 5rem;
    height:auto

}

.candidate-small-card-button{
    background-color: #40A5CB;
    border-radius: 25px;
    border: solid #90278E 1px;
    font-size: 0.8rem;
    color: rgb(177, 211, 241);
width:6rem;
cursor: pointer;

}
.candidate-small-card-button:hover{
    background-color: #07b4ee;
    color: rgb(14, 41, 65);

}