.app-layout { 
width: 100vw;
display: flex;
flex-direction: column;
/* margin: 1rem; */
}

.app-header{
    min-width: 100vw;
    height: 10vh;
    display: flex;
flex-direction: row;
justify-content: space-between;
margin: 0rem 2rem;
}

.app-content{
    min-width: 100vw;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
   /* position: relative; */
   margin-bottom:2rem;
}

.app-footer{
    min-width: 100vw;
    height: 2rem;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
position: fixed;
background-color: darkgray;
}

.login-container{
    margin-top: 2rem;
    max-width: 20rem;
    height: 24rem;
    border: 2px solid purple;
    border-radius: 25px;
    padding: 2rem;
    background-color: #40A5CB;
}
.inner-container{
    max-width: 17rem;
    min-height: 15rem;
    background-color: #c3dce6;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 25px;
color: #3C4157;
}
.login_form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 18rem;
    min-height: 6rem;
}

.login_form_group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 4rem;
}

.signup_form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 18rem;
    min-height: 8rem;
}

.signup_form_group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 6rem;
}

.small_text_in_sign-in{
    font-size: 12px;
    justify-content: flex-start;
    /* margin-top: 2rem; */
}

.underline_text{
    text-decoration: underline;
    cursor: pointer;
}

.submit_btn{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
border-radius: 15PX;
background-color: #40A5CB;
border: none;
cursor: pointer;
}
.submit_btn:hover{

background-color: #03bafc;
border: 1px solid black;
}
