.dashboard-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap
}

.rows-candidate-cards{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap
}

.rows-candidate-lists{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap
}

.candidate-small-text{
    margin: 0rem 2rem;
    font-size: 1rem;
    justify-content: flex-start;
    margin-bottom: 1rem;
    flex:3;
}



.candidate-list-item{
    flex:1;
    width: 100vw;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: flex-start;
    font-size: 1rem;
    color: #90278E;
    background-color: aqua;
}
.image-col-in-list{
    flex:1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.candidate-small-card{
    flex:1;
    width: 7rem;
    height: 10rem;
    border: solid #90278E 4px;
    border-radius: 10%;
    padding:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.7rem;
    margin: 1rem;
    color: #90278E;
    background-color: aqua;
}
.candidate-small-card-img{
    width: 5rem;
    height:auto
}

.candidate-list-img{
    width: 2rem;
    height:auto
}

.candidate-small-list-button{
    background-color: #40A5CB;
    border-radius: 25px;
    border: solid #90278E 1px;
    font-size: 0.8rem;
    color: rgb(177, 211, 241);
    max-width:6rem;
    margin-right: 2rem;
    cursor: pointer;
    flex:2;
}

.candidate-small-card-button{
    background-color: #40A5CB;
    border-radius: 25px;
    border: solid #90278E 1px;
    font-size: 0.8rem;
    color: rgb(177, 211, 241);
    width:6rem;
    cursor: pointer;
    flex:1;
}

.candidate-small-card-button:hover, .candidate-small-list-button:hover{
    background-color: #07b4ee;
    color: rgb(14, 41, 65);
}

.list-button{
    background-color: #8ddcf9;
    border-radius: 25px;
    border: solid #90278E 1px;
    font-size: 0.8rem;
    color: rgb(7, 58, 102);
    width:6rem;
    cursor: pointer;
}
.list-button:hover{
    background-color: #8deef9;

}

.pagination-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
}
.pagination {
    display: flex;
    justify-content: center;
    margin: 0 1px;

  }
  
  .pagination-div {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .pagination .currPage {
    cursor: pointer;
    color: #fff;
    background-color: cornflowerblue;
    border: black 2px solid;
    padding: 0.7rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
  }
  
   .pagination .notCurrPage {
    cursor: pointer;
    color: cornflowerblue;
    background-color: #fff;
    border: black 2px solid;
    padding: 0.7rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
  }

  .pageSizeBtnsDiv {
    display: flex;
    justify-content: flex-start;
    min-width: 80vw

  }

  .pageSizeBtnsDiv .pageSizeBtns {
    cursor: pointer;
    border: none;
    background-color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin-right: 0.3rem;
  }
  .currPageSizeBtn {
    background-color: rgb(111, 217, 244) ;
    cursor: pointer;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin-right: 0.3rem;
    padding: 1%;
  }