
.invalid-feedback{
    color: red;
    font-size: 12px;
    margin-bottom: 1rem;
}

.form-control.form-control-lg{
    border-radius: 20px;
    border: 1px black solid;
    padding:0.2rem 1rem;
    margin-left: 1rem;
    max-width: 9rem;
}

.form-control.form-control-lg.is-invalid{
    border-radius: 20px;
    border: 2px red solid;
    padding:0.2rem 1rem;
    margin-left: 1rem;
    max-width: 9rem;

}