.app-container{
    height: fit-content;
    background-color: #3CA7CB;

}

.app-layout { 
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.app-header{
    min-width: 100vw;
    height: 9vh;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #fdfdfd;

}

.user-info-header{
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
}

.user-info-header-small{
    font-size: 0.9rem;
}

.user-info-header-big{
    font-size: 1.3rem;
}

.app-content{
    min-width: 100vw;
    height: fit-content;
    min-height: calc(100vh - 9vh - 5vh);
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
   background-color: #3CA7CB;

}

.app-footer{
    min-width: 100vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: static;
    background-color: darkgray;
}

.login-container{
    margin-top: 2rem;
    max-width: 20rem;
    height: 24rem;
    border: 2px solid purple;
    border-radius: 25px;
    padding: 2rem;
    background-color: #3CA7CB;
}
.inner-container{
    max-width: 17rem;
    min-height: 15rem;
    background-color: #c3dce6;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 25px;
    color: #3C4157;
}
.login_form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 18rem;
    min-height: 6rem;
}

.login_form_group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 4rem;
}

.signup_form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 18rem;
    min-height: 8rem;
}

.signup_form_group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 6rem;
}

.small_text_in_sign-in{
    font-size: 12px;
    justify-content: flex-start;
}

.underline_text{
    text-decoration: underline;
    cursor: pointer;
}

.submit_btn{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 15PX;
    background-color: #3CA7CB;
    border: none;
    cursor: pointer;
}
.submit_btn:hover{

    background-color: #03bafc;
    border: 1px solid black;
}

